
.header {
    grid-area: "header";
}
.sidebar {
    grid-area: "sidebar";
}
.footer {
    grid-area: "footer";
}
.main {
    grid-area: "main";
}

.hidden {
    visibility: hidden;
}

.fix {
    position: fixed;
}